<%- include('partials/_header') -%>
    <h1 class="h1 ms-5 mb-5">Dashboard</h1>
    <div class="container">
        <div class="row row-cols-3">
            <% cities.forEach(function(city){ %>
                <div class="col card" >
                    <div class="card-body">
                            <h1>
                                <%= city.cityName %>
                            </h1>
                            <div class="container-sm">
                                <h2>Recaudado:</h2>
                                <h3>
                                    <%= city.stats.profits%>
                                </h3>
                            </div>
                            <div class="container">
                                <h2>Total Clientes:</h2>
                                <h3>
                                    <%= city.stats.clients %>
                                </h3>
                            </div>
                            <div class="container">
                                <h2>Productos en stock:</h2>
                                <h3>
                                    <%= city.stats.stock %>
                                </h3>
                            </div>
                       
                    </div>
                </div>
            <% })%>
        </div>
    </div>
    <%- include('partials/_footer') -%>