<%- include('partials/_header') -%>
  <h1 class="h1 mb-3">Products</h1>

  <!-- Filter table -->
  <div class="container container-fluid mb-3">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <form action="/products/filter" method="post">
            <h3 class="h3">Filtros</h3>
            <div class="form-group">
              <select name="filter" id="" class="form-select mb-3">
                <option value="bogota">Bogotá</option>
                <option value="medellin">Medellin</option>
                <option value="cali">Cali</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap table -->

  <table class="table table-bordered table-hover mb-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Tienda</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach( function(product){ %>
        <tr>
          <th scope="row">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
          </th>
          <td>
            <%= product.nombre_producto %>
          </td>
          <td>
            <%= product.precio_producto %>
          </td>
          <td>
            <%= product.tienda_producto %>
          </td>
          <td>
            <%= product.cantidad_producto %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>

  <!-- Add form-->
  <div class="container container-fluid mb-4">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <form action="/products/add" method="post">
            <h3 class="h3 mb-3">Agregar producto</h3>
            <div class="form-group mb-2">
              <label for="nombre_producto">Nombre de producto</label>
              <input type="text" name="nombre_producto" class="form-control" required>
            </div>
            <div class="form-group mb-2">
              <label for="precio_producto">Precio</label>
              <input type="number" name="precio_producto" min="0" class="form-control" required>
            </div>
            <div class="form-group mb-3">
              <label for="cantidad_producto">Cantidad</label>
              <input type="number" name="cantidad_producto" min="1" class="form-control" required>
            </div>
            <div class="form-group mb-3">
              <label for="tienda_producto">Ciudad</label>
              <select name="tienda_producto" id="" class="form-select" required>
                <option value="Bogota">Bogotá</option>
                <option value="Medellin">Medellin</option>
                <option value="Cali">Cali</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Agregar producto</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/_footer') -%>